.header-section {
  background-color:  #D3D3D3;
  padding: 10px 50px 0px 50px;
}

.footer-section {
  background: #D3D3D3;
  padding: 0px 50px 0px 50px;
}

.name {
  color: white;
}

.developer {
  color: #181818;
  font-style: italic;
}

.links {
  font-weight: bold;
  padding: 0px 50px 0px 50px;
  color: black;
  transition: all .5s ease-in-out;
}

.links:hover{
  font-size: 150%;
}

#skills {
  font-weight: bold;
  font-style: italic;
}

.skills-section {
  padding: 0px 50px 20px 80px;
}

.experience-section {
  padding: 0px 50px 0px 50px;
}

#copy-right {
  font-weight: bold;
}
